 /* .index{ */
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    /* justify-content:space-around; */
    /* margin: 20px; */
    /* gap: 50px; */
    /* margin-bottom: 10px; */
    /* margin-left: 40px; */
    /* padding-top: 20px; */
    
  

/* } */

/* .wholeInd{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-around;
    border: 2px solid black;
    margin-top: 20px;
    border-radius: 45px;
    width: 80%;
    position: relative;
    left: 100px

}  */

/* .mistake{
    display:flex;
    flex-direction: column;
}

.captainName{
    display:flex;
    flex-direction: column;
}

.title{
    display:flex;
    flex-direction: column;
} */

.front{
    display:flex;
    flex-direction: row;
    padding: 20px;
    align-content:space-between;
    justify-content: center;
}