/* NavBar.css */

nav {
    background-color: #333;
    /* Background color for the navigation bar */
    color: white;
    /* Text color */
    padding: 10px 0;
    /* Padding for the top and bottom */
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
    /* Remove bullet points for the list items */
    display: flex;
    /* Display the list items in a row */
    justify-content: center;
    /* Center the list items horizontally */
    align-items: center;
    /* Center the list items vertically */
    padding-left: 0px;
}

li {
    margin: 0 20px;
    /* Add spacing between list items */
}

a {
    text-decoration: none;
    /* Remove underline from links */
    color: white;
    /* Text color for links */
    font-weight: bold;
    /* Make the text bold */
    font-size: 18px;
    /* Adjust the font size as needed */
}

a:hover {
    color: #ff6600;
    /* Change text color on hover */
}