/* Light Mode (Default) */
/* @media (prefers-color-scheme: light) {
    body {
      background-color: #ffffff;
      color: #000000;
    }
  } */
  
  /* Dark Mode */
  /* @media (prefers-color-scheme: dark) {
    body {
      background-color: #333333;
      color: #ffffff;
    }
  }
   */

   /* Light Mode Styles */
body {
    background-color: #ffffff; /* Light background color */
    color: #000000; /* Light text color */
  }
  
  /* Dark Mode Styles */
  body.dark-mode {
    background-color: #333333; /* Dark background color */
    color: #ffffff; /* Dark text color */
  }
  